/* Navbar */
.navbar-brand {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
}

.jumbotron-fluid .display-4 {
    font-family: 'Poppins', sans-serif;;
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.jumbotron-fluid .lead {
    color: black;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
}

.jumbotron-fluid .lead {
    font-weight: 500;
}

.medsos ul li{
    display: inline-block;
    margin-right: 20px;
}
.row{
    font-family: sans-serif;
}
.row .col {
    align-items: center;
    width: 18rem;
}

.row span {
    font-weight: 600;
}
 /* Contact */
.contact {
    display: inline-block;
}

.contact-box a {
    color: black;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.container-contact {
    background-color: #2871d8;
    height: 105vh;
}
.form {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: sans-serif;
}

.wrap-contact100 {
    width: 340px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 42px 55px 45px 55px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    position: relative;
}

h2{
    padding-bottom: 10px;
    width: 180px;
    color: #0B63DC;
    border-bottom: 3px solid;
    margin-bottom: 30px;
}

input {
    width: 125%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}
input:focus {
    border-bottom: 2px solid #78788c;
}

.container-contact100-form-btn .btn {
    float: right;
}
/* Card Education - index */
.education {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.education .card {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);  
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;  
}
.education .card .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}
.education .card:hover .content {
    bottom: 0px;
} 
.education .card .content .contentBx h3{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
}
.education .card .content .contentBx h3 span {
    font-size: 15px ;
    font-weight: 300;
    text-transform: initial;
}


/* Skilss page */
h5 {
    font-weight: bold;
}
/* SKil page - experience */
ul {
    margin: 20px 20px;
}
li span {
    border-bottom: 3px solid #0B63DC;

}
ul li h4 {
    color: #000;
    font-family: calibri;
    font-weight: 900;
}
/* Desktop Ver */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .navbar-nav .active {
        color: #ffffff;
        background-color: #2f83fa ;
        height: 30px;
        border-radius: 50px;
        padding-bottom: 30px;
    }
    
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom :2px solid  #2f83fa;
        width: 50%;
        margin:auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron-fluid .display-4 {
        font-size: 62px;
    }
    
}