/* Navbar */
.navbar-brand {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
}

.jumbotron-fluid .display-4 {
    color: black;
    text-align: center;
}

.jumbotron-fluid .lead {
    color: black;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
}

.jumbotron-fluid .lead {
    font-weight: 500;
}

.medsos ul li{
    display: inline-block;
    margin-right: 20px;

}

/* Desktop Ver */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin:auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    
}